$font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

$box-shadow-2: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

$primary-text-color: #212121;
$primary-color-text: #fff;
$primary-color-light: #cfd8dc;
$accent-color: #009688;

$box-shadow-2: rgba(0, 0, 0, 0.117647) 0 3px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

$general-padding: 12px;
$general-margin: 12px;
$general-background: $primary-color-text;
$general-selected-color: $primary-color-text;
$general-hover-background-color: transparentize($primary-color-light, 0.75);
$general-content-padding: $general-padding;
$general-content-max-width: 1160px;

$btn-hover-background: $general-hover-background-color;

$animation-duration: 450ms;
$animation-function: cubic-bezier(0.4, 1, 0.3, 1);

$player-control-box-shadow: $box-shadow-2;

$authorize-color-1: $primary-text-color;
$authorize-color-2: $accent-color;
$authorize-color-3: $primary-color-text;
$authorize-margin: $general-margin * 1.5;
$authorize-padding: $general-padding * 1.5;
$authorize-button-background: $accent-color;
$authorize-button-color: $primary-color-text;
$authorize-button-shadow: $box-shadow-2;
$authorize-button-font-size: 18px;
